@charset "utf-8";
@import url("http://fonts.googleapis.com/earlyaccess/notosansjapanese.css");

:root {
  --page-width: 182mm;
  --page-height: 257mm;
  --content-width: 148mm;
  --content-height: calc(44mm * 5mm);
  --side-margin: calc((var(--page-width) - var(--content-width)) / 2);
  --top-margin: 22mm;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 9pt;
  font-weight: normal;
  position: absolute;
}

body {
  width: var(--page-width);
  font-family: "Noto Sans Japanese";
}

.page {
  width: var(--page-width);
  height: var(--page-height);
  &.is-left {
    z-index: 1;
  }
  &.is-right {
    z-index: 0;
  }
}

#page-1 {
  top: var(--top-margin);
  left: var(--side-margin);
  width: var(--content-width);
  height: var(--content-height);
}

#page-2 {
  top: var(--top-margin);
  left: 199mm; /* fallback for Safari */
  left: calc(var(--page-width) + var(--side-margin));
  width: var(--content-width);
  height: var(--content-height);
}

#svg-page-2 {
  left: var(--page-width);
}

h1,
h2,
h3,
h4 {
  padding: .5mm 1mm;
  display: inline-block;
}

span {
  padding: .5mm;
  display: inline-block;
}

p {
  position: relative;
  text-indent: 1em;
}

h1 {
  font-size: 16pt;
  top: -10mm;
  letter-spacing: 1em;
}

.entry-date {
  top: -7mm;
  right: 51mm;
}

.photo {
  position: absolute;
  top: -8mm;
  left: 106mm;
  width: 30mm;
  height: 40mm;
}

.name-kana {
  h2 {
    font-size: 8pt;
    width: 14mm;
    height: 6m;
  }

  span {
    top: 0;
    left: 14mm;
    width: 68mm;
    height: 6mm;
  }
}

.name {
  top: 6mm;

  h2 {
    width: 14mm;
    height: 6mm;
  }

  span {
    font-size: 24pt;
    left: 14mm;
    width: 68mm;
    height: 14mm;
  }
}

.sex {
  left: 82mm;

  h2 {
    width: 14mm;
    height: 6mm;
    text-align: center;
  }

  span {
    top: 6mm;
    width: 14mm;
    height: 14mm;
    font-size: 14pt;
    text-align: center;
    padding-top: 4mm;
  }
}

.birthday {
  top: 20mm;

  h2 {
    font-size: 8pt;
    width: 14mm;
    height: 6mm;
  }

  span {
    left: 14mm;
    width: 82mm;
    height: 6mm;
  }
}

.cellphone-num {
  top: 26mm;

  h2 {
    font-size: 8pt;
    width: 34mm;
    height: 6mm;
  }

  span {
    left: 14mm;
    width: 24mm;
    height: 6mm;
  }
}

.tellephone-num {
  top: 26mm;
  left: 48mm;

  h2 {
    font-size: 8pt;
    width: 14mm;
    height: 6mm;
  }

  span {
    left: 14mm;
    width: 24mm;
    height: 6mm;
  }
}

.e-mail {
  top: 32mm;

  h2 {
    font-size: 8pt;
    width: 14mm;
    height: 6mm;
  }

  span {
    left: 14mm;
    width: 82mm;
    height: 6mm;
  }
}

.addres {
  top: 38mm;

  h2 {
    width: 14mm;
    height: 6mm;
  }

  span {
    font-size: 16pt;
    left: 0;
    top: 6mm;
    height: 8mm;
    width: 148mm;
    padding-left: 4mm;
  }

  .addres-num {
    left: 14mm;
    top: 0;
    width: 82mm;
    height: 6mm;
    padding: .5mm;
  }
}

.history {
  top: 76mm;

  * {
    position: relative;
  }

  table {
    border-spacing: 0;
  }

  tr {
    td {
      font-size: 11pt;
      height: 10mm;
    }

    td:first-child {
      width: 18mm;
      text-align: center;
    }

    td:first-child + td {
      width: 14mm;
      text-align: center;
    }

    td:first-child + td + td {
      width: 116mm;
      padding: 0 4mm;

      h3 {
        width: 100%;
        padding-left: 0;
        text-align: center;
      }

      .table-lastline {
        width: 100%;
        padding-right: 4mm;
        text-align: right;
      }
    }
  }

  tr:first-child {
    th {
      height: 6mm;
    }

    th:first-child {
      width: 18mm;
    }

    th:first-child + th {
      width: 14mm;
    }

    th:first-child + th + th {
      width: 114mm;
    }
  }
}

.license {
  top: 0;

  * {
    position: relative;
  }

  table {
    border-spacing: 0;
  }

  tr {
    td {
      font-size: 11pt;
      height: 10mm;
    }

    td:first-child {
      width: 18mm;
      text-align: center;
    }

    td:first-child + td {
      width: 14mm;
      text-align: center;
    }

    td:first-child + td + td {
      width: 116mm;
      padding: 0 4mm;

      h3 {
        width: 100%;
        padding-left: 0;
        text-align: center;
      }

      .table-lastline {
        width: 100%;
        padding-right: 4mm;
        text-align: right;
      }
    }
  }

  tr:first-child {
    th {
      height: 6mm;
    }

    th:first-child {
      width: 18mm;
    }

    th:first-child + th {
      width: 14mm;
    }

    th:first-child + th + th {
      width: 114mm;
    }
  }

  > div {
    position: absolute;
    top: 66mm;
    width: 148mm;
    height: 14mm;
  }
}

.hobby {
  top: 84mm;

  h2 {
    width: 74mm;
    height: 6mm;
    text-align: center;
  }

  div {
    top: 6mm;
    width: 74mm;
    height: 28mm;
    padding: .5mm;
    text-align: justify;
  }
}

.skill {
  top: 84mm;
  left: 74mm;

  h2 {
    width: 74mm;
    height: 6mm;
    text-align: center;
  }

  div {
    top: 6mm;
    width: 74mm;
    height: 28mm;
    padding: .5mm;
    text-align: justify;
  }
}

.selling-point {
  top: 116mm;

  h2 {
    width: 148mm;
    height: 6mm;
    text-align: center;
  }

  div {
    top: 6mm;
    width: 148mm;
    height: 38mm;
    padding: .5mm;
    text-align: justify;
    & p {
      padding: 0 1.2mm;
    }
  }
}

.reason {
  top: 148mm;

  * {
    position: relative;
  }

  .tbl {
    border-spacing: 0;
    &__hd {
      vertical-align: top;
      height: 6mm;
      padding-top: .4mm;
    }
    &__cont {
      height: 11mm;
      &.is-reason {
        text-align: left;
        vertical-align: top;
        text-indent: 1em;
        padding: 0 1.2mm;
      }
    }
    & tr.is-spouse {
      & td {
        width: 25mm;
        font-size: 8pt;
      }
    }
  }

  tr {
    td:first-child {
      width: 40mm;
      text-align: center;
    }

    td:first-child + td {
      width: 14mm;
      text-align: center;
    }

    td:first-child + td + td {
      width: 116mm;
      padding: 0 4mm;
    }
  }

  tr:first-child {
    th {
      height: 6mm;
    }

    th:first-child {
      width: 93mm;
    }

    th:first-child + th {
      width: 55mm;
    }

    th:first-child + th + th {
      width: 114mm;
    }
  }
}

.treatment {
  top: 204mm;

  h2 {
    width: 148mm;
    height: 6mm;
    text-align: center;
  }

  div {
    top: 6mm;
    width: 148mm;
    height: 10mm;
    padding: .5mm;
    text-align: justify;
  }
}

@page {
  size: var(--page-width) var(--page-height);
  margin: 0;
}

@media print {
  .page {
    position: relative;
    page-break-after: always;
  }

  #svg-page-2 {
    top: 0;
    left: 0;
  }

  #page-2 {
    top: var(--top-margin);
    left: var(--side-margin);
  }
}
